node_modules/
npm-debug.log
.DS_Store
.env
dist/
coverage/
logs/
*.log
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.tsbuildinfo
yarn-error.log
pids/
*.pid
*.seed
*.pid.lock
debug.log
npm-debug.log*
lerna-debug.log*
package-lock.json
yarn.lock
.env.local
.env.development.local
.env.test.local
.env.production.local